<launch>
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
    <remap from="/joint_states" to="/sd_twizy/joint_states" />
  </node>

  <!-- vehicle gazebo info publisher node -->
  <node name="vehicle_gazebo_info_publisher" pkg="vehicle_gazebo_simulation_interface" type="vehicle_gazebo_info_publisher"
        respawn="false" output="screen">
    <param name="enable_base_link_tf" value="false" />
  </node>
</launch>
